@import url('https://fonts.googleapis.com/css2?family=Bangers');

body, html {
    height: 99%;
}

#wrapper {
    border: 1px solid transparent;
    height: 99.5%;
    width: 1000px;
    text-align: center;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 72px;
    margin: auto;
    margin-top: 100px;
    color: palevioletred;
    text-shadow: 5px 5px 5px palegoldenrod;
}

button {
    display: block;
    width: 200px;
    height: 45px;
    margin: auto auto 25px auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px beige;
    color: gray;
    background-color: #e8e3e0;
}

button:hover {
    background-color: #faf5f1;
}

#buttonWrapper {
    margin: auto;
    margin-top: 100px;
}

#containerGrid {
    display: grid;
    position: fixed;
    width: 820px;
    height: 820px;
    top: 6%;
    right: 3.5%;
    border: 1px solid gainsboro;
}
/* adjusts webpage for screens smaller than 1080p */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    #containerGrid {
        position: fixed;
        width: 520px;
        height: 520px;
        top: 4%;
    }  
    #buttonWrapper {
        position: fixed;
        margin: auto;
        margin-top: 8%;
        margin-left: 20%;
    }
    button {
        width: 120px;
        height: 35px;
        font-size: 12px;
    }
    h1 {
        font-size: 52px;
        width: 200px;
        margin: auto;
        margin-left: 21.5%;
        margin-top: 5%;
    }
}
